@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url(css/font-awesome.min.css);

/* :: Portfolio Area CSS */
.pixel-projects-menu {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .pixel-projects-menu .btn {
    padding: 10px 20px;
    background-color: transparent;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #969696;
    border-radius: 50px;
    border: 2px solid transparent; }
    .pixel-projects-menu .btn.active, .pixel-projects-menu .btn:focus {
      box-shadow: none;
      color: #ff7902;
      border-color: #ff7902; }

.single_gallery_item {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  @media only screen and (max-width: 767px) {
    .single_gallery_item {
      width: 100%; } }
  .single_gallery_item img {
    width: 100%;
    -webkit-transition-duration: 2000ms;
    -o-transition-duration: 2000ms;
    transition-duration: 2000ms; }
  .single_gallery_item .hover-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 168, 4, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    .single_gallery_item .hover-content .zoom-img {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      font-size: 20px;
      margin-bottom: 30px;
      color: #ffffff;
      line-height: 46px;
      margin-top: -15px;
      opacity: 0;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single_gallery_item .hover-content h4 {
      margin-bottom: 0;
      color: #ffffff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single_gallery_item .hover-content h4 {
          font-size: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_gallery_item .hover-content h4 {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .single_gallery_item .hover-content h4 {
          font-size: 16px; } }
    .single_gallery_item .hover-content .hover-text .text-format {
    font-size: 18px; margin: 0 20px 0 20px;}
  .single_gallery_item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .single_gallery_item:hover .hover-content {
    opacity: 1;
    visibility: visible; }
    .single_gallery_item:hover .hover-content .zoom-img {
      margin-top: 0;
      opacity: 1; }

